/*
Color scheme:
    Gray:           #4c5059
    Light Gray:     #f2f2f2
    Yellow:         #f2e963
    Dark Yellow:    #d9bf73
    Red:            #bf5a5a

Font Size:
   xlg:   1.793rem;
   lg:    1.68rem;
   md:    1.575rem;
   sm:    1.476rem;
   xs:    1.383em
   xxs:   1.067rem;
 */
body {
    padding: 0;
    margin: 0;
    font-family: 'Slabo 27px', serif;
    font-size: 16px;
    color: #4c5059;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 1.067rem 0 1.067rem;
}

h1, h2, h3, h4, h5, h6, svg {
    color: #bf5a5a;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
}

p {
    font-family: 'Slabo 27px', serif;
    color: #4c5059;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #f2f2f2;
}

.main-navigation,
.main-navigation-logo,
.main-navigation-dropdown,
.main-navigation-controls,
.main-navigation-items {
    display: flex;
    flex-flow: column;
    align-items: center;
}

nav.main-navigation,
main,
footer {
    padding: 1.793rem;
    align-items: stretch;
}

nav.main-navigation {
    min-height: 400px;
}


nav.main-navigation h1,
a.main-navigation-controls {
    padding: 0;
    margin: 0;
}

a.main-navigation-controls,
a.main-navigation-dropdown,
.main-navigation-items a {
    text-decoration: none;
}

.main-navigation-logo {
    font-size: 1.476rem;
    flex: 1;
}

.main-navigation-dropdown {
    flex: 3;
    align-items: stretch;
}



.main-navigation-items a {
    font-size:    1.383em;
    background-color: #bf5a5a;
    margin-top: 0.115rem;
    margin-bottom: 0.115rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    flex: 1;
    color: #ffffff;
    border: 1px solid #bf5a5a;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.115rem;
    width: 100%;
}

.main-navigation-items a:hover {
    color: #bf5a5a;
    background-color: #f2f2f2;
    border: 1px solid #bf5a5a;
}

.main-navigation-social-media {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-top: 1rem;
}

.main-navigation-social-media a {
    flex: 1;
    text-align: center;
}

.main-navigation-social-media a svg:hover {
    color: #4c5059;
}

main {
    display: grid;
    grid-template-columns: 100%;
}

section > :first-child {
    border-bottom: solid 0.115px #4c5059;
    margin-bottom: 1.793rem;
}

.about-social-media {
    display: none;
}

.resume-columns {
    display: grid;
    grid-template-columns: 100%;
}

.work-items {
    display: grid;
    grid-template-columns: 98%;
    grid-gap: 2%;
}

.work-item {
    border: solid 0.25px #4c5059;
    padding: 1.067rem;
}

.work-item img {
    width: 100%;
}


.resume-skills-items {
    display: flex;
    flex-direction: column;
}

.resume-skills div span svg {
    margin-right: 0.5rem;
}

@media screen and (min-width: 500px) {
    .work-items {
        grid-template-columns: 49% 49%;
    }
}

@media screen and (min-width: 800px) {
    h2 {
        text-align: left;
    }

    .main-navigation,
    .main-navigation-items,
    .main-navigation-logo,
    .main-navigation-social-media {
        flex-direction: row;
    }

    nav.main-navigation {
        min-height: 75px;
        align-items: flex-start;
    }

    .main-navigation-logo {
        flex: 1.75;
        align-items: flex-start;
        font-size: 1.067rem;
    }

    .main-navigation-logo svg {
        margin-right: 0.25rem;
    }

    .main-naviagtion-dropdown {
        flex: 3;
        align-items: flex-start;
    }
    .main-navigation-controls {
        display: none;
    }

    .main-navigation-social-media {
        display: none;
    }

    main {
        grid-template-columns: 75% 23%;
        grid-column-gap: 2%;
    }

    .about-social-media {
        display: flex;
        flex-flow: row nowrap;
        flex: 1 100%;
        align-items: flex-start;
    }

    .work-items {
        grid-template-columns: 32% 32% 32%;
        grid-gap: 2%;
    }

    .resume {
        color: #f2f2f2 !important;
    }

    .resume-columns {
        grid-template-columns: 22.5% 72.5%;
        grid-column-gap: 5%;
    }

    .resume-skills {
        background-color: #4c5059;
        padding-right: 1.067rem;
        padding-left: 1.067rem;
    }

}









